#map {
    height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-left: 5.2rem;
    font-size: 1.5rem;
    vertical-align: center;
    line-height: 3rem;
}

header {
    height: 4rem;
    width: 100%;
}

.list {
    width: 19rem;
}

.filterEntry {
    width: 13rem;
    margin: 1.5rem .5rem;
    font-size: 1rem;
}

.noBullets {
    list-style-type: none;
    padding: 0;
}

.listItem {
    padding: .5rem;
}

.listButton {
    background: transparent;
    border: none;
    color: black;
    font-size: .8rem;
    font-weight: bold;
}

.searchHeading {
    text-align: center; 
    margin: 0;
    color: white;
}

.searchHeadingContainer {
    background-color: #e74c3c;
    padding: 2rem;
}

.fa-bars {
   font-size: 1.5rem;
}


@media only screen and (max-width: 528px) {
    h1 {
        font-size: .8rem;
    }
}